<!DOCTYPE html>
<html>
    <%= erb :_head %>
    <body>
        <div class="buttons">
            <% path = defined?(@path) ? @path : '/' %>
            <p><%= path %></p>
            <button onclick="submitForm(event)">Save</button>
            <button onclick="cancel()">Cancel</button>
        </div>
        <% raw = defined?(@raw) ? @raw.join("\n") : '' %>
        <textarea id="raw" rows="10"><%= raw %></textarea>
    </body>
    <script>
        let submitForm = (e) => {
            e.preventDefault()
            const raw = document.getElementById('raw').value
            <% is_tree = defined?(@is_tree) && @is_tree ? 1 : 0 %>
            <% is_branch = defined?(@is_branch) && @is_branch ? 1 : 0 %>
            fetch('/<%= path == '' ? 'forest' : path %>/edit?tree=<%= is_tree %>&branch=<%= is_branch %>', {
                method: 'POST',
                headers: {'Content-Type': 'text/plain'},
                body: raw,
            }).then(res => {
                window.location.reload()
            })
        }

        let cancel = () => window.location = '/'
    </script>
</html>